<div class="row justify-content-center mmsheader ">
    <div class="col-12">
        <div class="logo-container">
            <div class="logo-holder logo">
                <a routerLink="/" >
                <h3>iSolve Managment</h3>
                <p>Efficency</p> 
                </a>
            </div>
        </div> 
        
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
    <a routerLink="/" class="navbar-brand">
        <i class="fa fa-wrench" aria-hidden="true"></i>
        <span>
            MMService
        </span>
    </a>
    <button class="navbar-toggler" type="button"  (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/issue" *ngIf="isAuthenticated">Issues</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink="/user" *ngIf="isAuthenticated && isUserManageAllowed">Manage-Users</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!true" >
            <a class="nav-link"  routerLink="/auth" >Sign in</a>
        </li>
        
        <li class="nav-item dropdown" *ngIf="isAuthenticated"   appDropdown
        #r="appDropDown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>   {{userFullName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show':r.isOpen}">
              <a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">Logout</a>
              <a class="dropdown-item" >Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" >Something else here</a>
            </div>
        </li>

      </ul>
      
    </div>
  </nav>




