
<a
  style="cursor: pointer;"
  [routerLink]="[mmsissue.issueId]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <span style="margin-left: 15px;margin-right: 5px;"><strong>Unit:</strong></span> <span style="margin: 10px;" class="label label-info">{{unitCode}}</span>
    <span style="margin-left: 15px;margin-right: 5px;"><strong>Issue Type:</strong></span> <span style="margin: 10px;" class="label label-info">{{issueType}}</span>
  </div>
  <!-- <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>  -->
</a>

