
<div class="container-fluid">
  <div class="row">
    <div class="col-12 " >
      <app-header></app-header>
      <br>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-10 " >
      
        <!-- <div class="col-sm-2">
          <div class="row sidebar-wrapper">
            <div class="col-12 ">
              <div class="sidebar-header">
                
                <div class="row">
                  <div class="user-info">
                    
                      <i class="fa fa-user-circle"></i>
                    
                    <span class="user-name">Jhon
                      <strong>Smith</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    
                  </div>
                </div>
              
              </div>
            </div>
          </div>
          <hr class="divider" />
          <div class="row" >
            <div class="col-12" >
              <nav class="bottom-nav" style="position: sticky; left:0; top: 120px; bottom: 0">
                <h5 style="color:rgba(239, 230, 229, 0.605); padding: 10px ; border-bottom: saddlebrown solid 2px; line-height: 1;">MM Service</h5>
                
                <ul id="sidebar">
                    <li onclick="cityinfoActive(this)" data-city="nycityinfo">
                      <i class="fa fa-shopping-cart"></i>
                      <span>New york</span>
                    </li>
                    <li onclick="cityinfoActive(this)" data-city="miamicityinfo">
                      <i class="fa fa-shopping-cart"></i>
                      <span>Miami</span>
                    </li>
                    <li onclick="cityinfoActive(this)" data-city="lacityinfo">
                      <i class="fa fa-shopping-cart"></i>
                      <span>Los Angeles</span>
                    </li>
                    
                </ul>
              </nav>
            </div>
          </div>
        </div> -->
       
          <router-outlet></router-outlet>
        
      </div>
  </div>
</div>