body{
    background:#f5f5f5;
    margin-top:20px;
}
.card {
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
    box-shadow: 1px 0 20px rgba(96,93,175,.05);
    margin-bottom: 30px;
}

.row-custom_color.issueid{
    background-color: #f8f3ef;
    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
    padding-top: 0.5rem;
    
}
.row-custom_color.dates{
    background-color: #f8f3ef;
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
    padding-bottom: .5rem;
}

.row-custom_color label{
    color:rgb(13, 7, 7)
}
.table, form{
    font-size: .85rem;
}


 